In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/MyDrive/mini/Final_Data.csv')
print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     ï»¿State_Name  Crop_Year  ...  Season:_Rabi          Yield
0      Maharashtra       1997  ...                    0  217000
1      Maharashtra       1998  ...                    0  227900
2      Maharashtra       1999  ...                    0  190900
3      Maharashtra       2000  ...                    0  160800
4      Maharashtra       2001  ...                    0  175000
...            ...        ...  ...                  ...     ...
1340   Maharashtra       2010  ...                    1   61400
1341   Maharashtra       2011  ...                    1   58500
1342   Maharashtra       2012  ...                    1   64600
1343   Maharashtra       2013  ...                    1   30700
1344   Maharashtra       2014  ...                    1   26800

[1345 rows x 50 columns]

In [2]:
# df=pd.read_csv("datafile (1).csv")
# !pip uninstall scikit-learn
!pip install scikit-learn==0.20.03

Requirement already satisfied: scikit-learn==0.20.03 in /usr/local/lib/python3.7/dist-packages (0.20.3)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.20.03) (1.4.1)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.20.03) (1.19.5)

In [3]:
X = pd.DataFrame(df.iloc[:, 1:50].values)
y = df.iloc[:, 49].values
print(y)

[217000 227900 190900 ...  64600  30700  26800]

In [4]:

from sklearn.preprocessing import LabelEncoder
labelencoder_X_0 = LabelEncoder()
X.loc[:, 0] = labelencoder_X_0.fit_transform(X.iloc[:, 0])
labelencoder_X_1 = LabelEncoder()
X.loc[:, 1] = labelencoder_X_1.fit_transform(X.iloc[:, 1])
X

      0    1         2        3     4    5   ...   43   44   45   46   47        48
0      0  779  24.24300  42.3484  84.0  0.0  ...  1.0  0.0  0.0  1.0  0.0  217000.0
1      1  758  23.10000   8.7838  70.0  0.0  ...  1.0  0.0  0.0  1.0  0.0  227900.0
2      2  768  22.81180  39.5078  35.0  0.0  ...  1.0  0.0  0.0  1.0  0.0  190900.0
3      3  772  23.27460   9.2558  33.0  0.0  ...  1.0  0.0  0.0  1.0  0.0  160800.0
4      4  775  23.56740   4.0668  29.0  0.0  ...  1.0  0.0  0.0  1.0  0.0  175000.0
...   ..  ...       ...      ...   ...  ...  ...  ...  ...  ...  ...  ...       ...
1340  13  399  24.58152  27.4774  45.0  0.0  ...  0.0  1.0  0.0  0.0  1.0   61400.0
1341  14  344  24.68200  23.9894  43.0  0.0  ...  0.0  1.0  0.0  0.0  1.0   58500.0
1342  15  359  24.78900  23.9894  66.0  0.0  ...  0.0  1.0  0.0  0.0  1.0   64600.0
1343  16  348  24.85400   3.5930  22.0  0.0  ...  0.0  1.0  0.0  0.0  1.0   30700.0
1344  17  304  24.64700  17.4454  37.0  0.0  ...  0.0  1.0  0.0  0.0  1.0   26800.0

[1345 rows x 49 columns]

In [5]:


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)
X_train

      0    1        2         3     4    5   ...   43   44   45   46   47        48
190    9  650  24.4370   28.7518  37.0  0.0  ...  1.0  0.0  0.0  1.0  0.0  172100.0
710   10    7  29.2080  246.8800  66.0  0.0  ...  0.0  0.0  1.0  0.0  0.0      43.0
820   11   66  28.3880  129.4740  49.0  0.0  ...  0.0  0.0  1.0  0.0  0.0     800.0
133    0  212  22.3124   21.2754  38.0  0.0  ...  1.0  0.0  0.0  1.0  0.0    5900.0
460    1  107  27.2000  345.5270  70.0  0.0  ...  0.0  0.0  1.0  0.0  0.0    2900.0
...   ..  ...      ...       ...   ...  ...  ...  ...  ...  ...  ...  ...       ...
715   15  107  28.6550  131.3950  59.0  0.0  ...  0.0  0.0  1.0  0.0  0.0    4000.0
905    7  328  23.9650    9.2780  60.0  0.0  ...  0.0  1.0  0.0  0.0  1.0   28000.0
1096   9  355  24.8850   45.2166  35.0  0.0  ...  0.0  1.0  0.0  0.0  1.0   37400.0
235    2  222  24.6890   16.2492  84.0  0.0  ...  1.0  0.0  0.0  1.0  0.0    8300.0
1061  10   22  24.2740   13.1274  38.0  0.0  ...  0.0  1.0  0.0  0.0  1.0     458.0

[1210 rows x 49 columns]

In [6]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_squared_error
import seaborn as sns
 # create regressor object
model = RandomForestRegressor(n_estimators = 100, random_state = 0)
  
# fit the regressor with x and y data
model.fit(X, y)
print(X_test)
y_pred=model.predict(X_test)
# print(y_pred)
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df

      0    1        2         3     4    5   ...   43   44   45   46   47       48
902    4  373  24.0790    7.2270  51.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  37100.0
267    3  268  24.5865   18.8684  74.0  0.0  ...  1.0  0.0  0.0  1.0  0.0   9300.0
111   13  112  24.5124    8.3802  48.0  0.0  ...  1.0  0.0  0.0  1.0  0.0   3000.0
1138  16  379  24.5865   18.8684  74.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  43800.0
315    0  659  24.9828   11.0134  50.0  0.0  ...  1.0  0.0  0.0  1.0  0.0  57500.0
...   ..  ...      ...       ...   ...  ...  ...  ...  ...  ...  ...  ...      ...
833    6  382  23.7654    3.5496  87.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  39500.0
120    4  109  22.8184   40.0492  39.0  0.0  ...  1.0  0.0  0.0  1.0  0.0   3700.0
1123   1  308  24.3758   25.3784  35.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  35900.0
791    1   10  29.9200  323.6020  93.0  0.0  ...  0.0  0.0  1.0  0.0  0.0    100.0
713   13  125  27.8560  160.9940  80.0  0.0  ...  0.0  0.0  1.0  0.0  0.0   4900.0

[135 rows x 49 columns]

     Actual  Predicted
0     37100    37151.0
1      9300     9295.0
2      3000     2986.0
3     43800    43848.0
4     57500    57478.0
..      ...        ...
130   39500    39478.0
131    3700     3703.0
132   35900    35865.0
133     100      100.0
134    4900     4903.0

[135 rows x 2 columns]

In [7]:
# Save Model Using Pickle
import pandas
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pickle


# save the model to disk
filename = '/content/drive/MyDrive/mini/RF_model_Py3.pb'
pickle.dump(model, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)

print(result)



# with open('/content/drive/MyDrive/mini', 'wb') as f:
#   f.write(tflite_model)

0.9998788489945474

In [8]:
# kaggle kernels output robinwilson/crop-yield-prediction -p /path/to/dest

Prediction of Test Data

In [9]:
y_pred=model.predict(X_test)

df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df

     Actual  Predicted
0     37100    37151.0
1      9300     9295.0
2      3000     2986.0
3     43800    43848.0
4     57500    57478.0
..      ...        ...
130   39500    39478.0
131    3700     3703.0
132   35900    35865.0
133     100      100.0
134    4900     4903.0

[135 rows x 2 columns]